@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Metal Mania");
@font-face {
  font-family: 'Booter - Zero Zero';
  src: url("font/Booter - Zero Zero.woff") format("woff"), url("font/Booter - Zero Zero.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: #007AF3;
}

body {
  background: #F2F2F2;
  margin: 0;
  font-family: poppins;
}

.navbar {
  background: white;
  padding: 1em;
}

.navbar .nav-heading {
  text-decoration: none;
  font-weight: bolder;
  color: black;
  font-size: 1.8em;
  font-family: oswald;
  padding-top: .2em;
}

.navbar .nav-heading span {
  color: var(--primary-color);
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

section.hero {
  text-align: center;
}

section.hero div.container {
  background-image: url("{{url_for('static', filename='images/cassava-leaf2.jpg')}}");
  padding-top: 1em;
  padding-bottom: .5em;
}

section.hero .subheading {
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: bold;
  color: white;
}

section.hero .main-heading {
  font-size: 6.5em;
  font-family: 'Booter - Zero Zero';
  margin-top: .2em;
  color: #1d0200;
  padding-bottom: .1em;
}

section.hero-input {
  text-align: center;
  background-color: #F1F1F1;
}

section.hero-input div.main-div {
  padding: 0;
}

section.hero-input div.main-div h2 {
  font-size: 3em;
  font-family: Metal Mania;
}

section.hero-input div.main-div input {
  padding: .8em;
  width: 50%;
  margin-bottom: 2em;
  border: 1px solid;
  border-radius: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section.hero-input div.main-div .input-btn {
  color: var(--primary-color);
}

section.hero-input div.main-div .predict-btn {
  background-color: var(--primary-color);
  font-size: 1.3em;
  font-weight: bold;
  border: none;
  border-radius: 5em;
  width: 50%;
}

footer {
  text-align: left;
  padding: 1em;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

footer ul li {
  padding-left: 1em;
}

footer .footer-about {
  color: var(--primary-color);
  border: 3px solid var(--primary-color);
  font-weight: bold;
  border-radius: 5em;
  margin: -.2em;
  padding: .1em;
}

footer .footer-about p {
  font-size: 1em;
  font-style: unset;
  font-family: raleway;
}

footer .footer-about:hover {
  background: var(--primary-color);
  color: white;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  background: #20273E;
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
  list-style-type: none;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: left;
}

nav li a:hover {
  font-weight: bolder;
}

.mobile-exit {
  float: left;
  margin: 1em;
  cursor: pointer;
}

nav.menu-btn {
  display: block;
}

@media only screen and (min-width: 700px) {
  .mobile-menu, .mobile-exit {
    display: none;
  }
  .navbar {
    padding-bottom: 0;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: none;
    height: auto;
    position: unset;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1.5em;
    padding: .5em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a:active {
    font-weight: bolder;
  }
}

h2.cat-heading {
  text-align: center;
  padding: 0;
  font-size: 3em;
  background: #F1F1F1;
  font-family: Metal Mania;
}

section.categories-content {
  background: var(--primary-color);
  color: white;
}

section.categories-content .cat-list {
  padding: 2em 1em;
}

section.categories-content ul {
  list-style-type: none;
}

section.categories-content ul li {
  background: blue;
  text-align: center;
  padding: 2em 1em;
  width: 80%;
  margin: 0 auto 5em auto;
  border-radius: 2em;
}

section.categories-content ul li img {
  width: 12em;
  height: 12em;
  border: 5px solid #006BD6;
  border-radius: 50%;
  margin-top: -5em;
}

section.categories-content ul a {
  color: white;
  border: 3px solid;
  border-color: white;
  border-radius: .7em;
}

section.categories-content ul a:hover {
  font-weight: bold;
  color: blue;
  background: white;
}

section.about h2 {
  font-size: 3em;
  font-family: Metal Mania;
  padding-left: 7em;
  background-color: #F2F2F2;
}

section.about .about-div {
  background: #20272E;
  padding: 1.2em;
  padding-left: 7em;
}

section.about .about-div a {
  color: var(--primary-color);
  border: 2px solid;
  border-color: white;
  border-radius: .7em;
  text-decoration: none;
}

section.about .about-div a:hover {
  font-weight: bold;
  color: black;
  background: white;
}

section.about .about-div div ul.features-list {
  margin: 0;
  color: white;
  padding-left: .1em;
  list-style-type: circle;
  list-style-position: outside;
  list-style-image: none;
}

section.about .about-div div ul.features-list li {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-left: 2em;
}

section.about .about-div div ul.features-list li:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
}

section.about div.tools-div {
  padding-bottom: 1em;
  text-align: center;
}

section.about div.sub-div {
  background: #20272E;
  color: white;
  -webkit-columns: 2;
          columns: 2;
  padding: 1em;
}

section.about div.sub-div ul.tools-list {
  margin: 0;
  font-size: 1.1em;
  margin-left: 3em;
}

section.about div.sub-div ul.tools-list li {
  margin-bottom: 1em;
  margin-bottom: 1em;
  position: relative;
}

section.about div.sub-div ul.tools-list li:before {
  content: '';
  left: -2em;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("{{url_for('static', filename='images/bullet.sva')}}");
  background-size: contain;
  margin-right: .5em;
}

section.about footer a {
  border: 5px solid;
  border-radius: 1em;
  text-decoration: none;
  color: var(--primary-color);
}

section.about footer a:hover {
  color: white;
  background: var(--primary-color);
}

div.prediction {
  text-align: center;
  background-color: #F2F2F2;
}

div.prediction h1 {
  font-size: 5em;
  font-family: 'Booter - Zero Zero';
}

div.prediction .predicted-class h2 {
  font-size: 2em;
  font-family: Metal Mania;
}

div.prediction .retry {
  font-size: 2em;
  font-family: Metal Mania;
  padding: 1em;
  text-align: center;
}

div.prediction .retry a {
  text-decoration: none;
  background: var(--primary-color);
  padding: .2em;
  border-radius: 3em;
  color: black;
}

div.prediction .retry a:hover {
  color: white;
}

div.false-predicted-class h2 {
  font-size: 2em;
  font-family: Metal Mania;
  color: #641E16;
}

@media only screen and (max-width: 800px) {
  section.about h2 {
    padding-left: 1em;
  }
}

@media only screen and (max-width: 700px) {
  section.about .about-div {
    padding-left: 2em;
  }
}
/*# sourceMappingURL=main.css.map */